<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
  </header>

  <main>
    <h1> ¡NO TE PIERDAS DE GRANDES EVENTOS!</h1>
    <section class="evento">
        <div class="fecha-hora">
          <span class="dia">Sábado</span>
          <span class="fecha">13 Abril</span>
          <span class="hora">20:30</span>
        </div>
        <div class="informacion-evento">
          <h2>El Bebeto</h2>
          <div class="boton-container">
            <button type="button" class="btn btn-primary btn-sm">Buscar boletos</button>
          </div>
        </div>
      </section>
      
      

      <section class="evento">
        <div class="fecha-hora">
          <span class="dia">Viernes</span>
          <span class="fecha">19 Abril</span>
          <span class="hora">17:00</span>
        </div>
        <div class="informacion-evento">
          <h2>Cano Aguilar</h2>
          <div class="boton-container">
            <button type="button" class="btn btn-primary btn-sm">Buscar boletos</button>
          </div>
        </div>
      </section>

      <section class="evento">
        <div class="fecha-hora">
          <span class="dia">Jueves</span>
          <span class="fecha">24 Abril</span>
          <span class="hora">21:45</span>
        </div>
        <div class="informacion-evento">
          <h2>Mitad Madera</h2>
          <div class="boton-container">
            <button type="button" class="btn btn-primary btn-sm">Buscar boletos</button>
          </div>
        </div>
      </section>

      <section class="evento">
        <div class="fecha-hora">
          <span class="dia">Domingo</span>
          <span class="fecha">12 Mayo</span>
          <span class="hora">22:00</span>
        </div>
        <div class="informacion-evento">
          <h2>Amantes Prohibidos</h2>
          <div class="boton-container">
            <button type="button" class="btn btn-primary btn-sm">Buscar boletos</button>
          </div>
        </div>
      </section>

      <section class="evento">
        <div class="fecha-hora">
          <span class="dia">Viernes</span>
          <span class="fecha">24 Mayo</span>
          <span class="hora">19:00</span>
        </div>
        <div class="informacion-evento">
          <h2>Los Sembradores</h2>
          <div class="boton-container">
            <button type="button" class="btn btn-primary btn-sm">Buscar boletos</button>
          </div>
        </div>
      </section>

      <section class="evento">
        <div class="fecha-hora">
          <span class="dia">Sábado</span>
          <span class="fecha">8 Junio</span>
          <span class="hora">20:30</span>
        </div>
        <div class="informacion-evento">
          <h2>Los Cuadra</h2>
          <div class="boton-container">
            <button type="button" class="btn btn-primary btn-sm">Buscar boletos</button>
          </div>
        </div>
      </section>

      <div class="boton-cont">
        <button type="button" class="btn btn-primary btn-sm">Más eventos</button>
      </div>
      

  </main>
</body>
</html>



