h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 8%;
}

.informacion-evento h2 {
    margin-bottom: 30px;
}

.evento {
    background-color: #212121;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    padding: 20px;
    border: 2px solid #FE9800;
    width: 80%;
}

.fecha-hora {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #fff;

}

.fecha,
.hora {
    margin-left: 20px;
}


.informacion-evento {
    display: flex;
    justify-content: space-between;
    color: #fff;
}


.boton-container button {
    display: flex;
    background-color: #FE9800;
    color: #FFFFFF;
    padding: 5px;
    border: 1px solid #FE9800;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;
}

.boton-container button:hover {
    background-color: #FFFFFF;
    color: #FE9800;
    border: 1px solid #FE9800;
}


.boton-cont {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-cont button {
    font-size: 20px;
    padding: 5px 20px;
    background-color: #FE9800;
    border: 1px solid #FE9800;
    color: #FFFFFF;
    border-radius: 15px;
    width: 200px;
    font-weight: 530;
    cursor: pointer;
}

.boton-cont button:hover {
    background-color: #FFFFFF;
    color: #FE9800;
    border: 1px solid #FE9800;
}

h2 {
    font-weight: 400;
}