<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="contenedor-imagen">
        <img src="../../assets/images/CanoAguilar_Portada.png" alt="Imagen" />
    </div>
    
    <div class="artist1">
        <div class="new-img">
            <img src="../../assets/images/cano-aguilar-news.png" />
        </div>
        <div class="text-container">
            <h2>BIBLIOGRAFIA</h2>
            <p>Jesús Flores, un joven de 20 años originario de Tlahualilo, Durango, 
                es un talentoso cantante que ha forjado su
                camino en la música desde temprana edad. Comenzando con su grupo 
                "Los Chendengueritos" a los 10 años, utilizando
                instrumentos hechos de materiales reciclables, Jesús demostró su pasión por el arte. A lo largo de los años, se
                unió a varios grupos musicales, perfeccionando su talento como vocalista.</p>
        </div>
    </div>


<h1>Otros Artitas</h1>

<div class="card-deck">
    <div class="card">
    <img src="../../assets/images/elegantes-del-llano.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">ELEGANTES</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/el-bebeto-donde-estas.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">El BEBETO</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/donde-esta-tu-amor.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">SHAIRA</h2>
    </div>
    </div>
</div>


<div class="card-deck2">
    <div class="card">
    <img src="../../assets/images/los-cuadra.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">LOS CUADRA</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/la-ley-de-cupido.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">HUICHOL</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/amigos-con-derechos.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">ROMEO</h2>
    </div>
    </div>
</div>