<h1>ÉXITOS DE LOS ARTISTAS</h1>
<h2>¡ESCUCHALOS HOY!</h2>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/cano-aguilar-la-hielera.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>CANO AGUILAR</h1>
    <h2>ÁLBUM </h2>
    <ul class="lista">
      <li><a href="https://open.spotify.com/intl-es/track/3oVkZ4ViVw1D3Eled28kfj?si=ebe761341cb44ab0" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ01 ㅤEl Chivo</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/5OGuNLdXansU6wTbqFJgLJ?si=5286266c309b4e1d" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ02 ㅤUn puño De Tierra</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/6YIgw5s0MSLUeA4y37AM0Y?si=bf1d37b0b5bb4bfa" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ03 ㅤSiete Lenguas</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/0jvNRDnlQ7baK8pQNnX5cv?si=3c2a43e202a345e1" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ04 ㅤMis Tres Animales</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/49xRFnLRBaRcFRfYwqmWq1?si=f26dca81b5084f06" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ05 ㅤY Por Esa Calle Vive</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/7lvhkfh4NvGbKHtDwz0qmT?si=7fd0d350428340dc" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ06 ㅤAviéntame</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/6WyrAxUhxmbz4UuT8Dm9mz?si=9f069abecf0440d5" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ07 ㅤEl Tao Tao</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/1H05b4l3V4N0nAMedRO8xH?si=38b464e60b904d92" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ08 ㅤCuatro Meses</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/6n7WaFrSFDDg4WbvDM2BdT?si=de7dc28a51a74218" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ09 ㅤLiborio Cano</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/4ya5poaESfRERBLpysARzY?si=059e339633ed47d0" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ10 ㅤLas Nieves De Enero</a></li>
    </ul>
  </div>
</div>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/chayin-rubio.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>CHAYÍN RUBIO</h1>
    <h2>ÁLBUM </h2>
    <ul class="lista">
      <li><a href="https://open.spotify.com/intl-es/track/4ggabbjjuHrG06SsYnqvEs?si=a5962b631d9d42d9" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ01 ㅤYa Me Enteré</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/2lQkPuLLQ3gs2tXj7VAYDH?si=992ab00fdd7745d6" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ02 ㅤSe Olvidó</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/1KPzRsfe4ElpYNH3L8ybc1?si=1513868eb5424ec3" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ03 ㅤSecuelas De Amor</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/5QhsjVU26RQd57Y4JyrocY?si=82f21e6082a54662" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ04 ㅤNegocio Y Amistad</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/6kJ0Drfax08BUgQ167qFK3?si=adcd688de46041e8" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ05 ㅤQuisiera Tenerte Así</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/1bzJOU9hz20WrFx6xgv8zp?si=d8379cdd9f1d4a4e" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ06 ㅤTe He Prometido</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/3AltSvoUNAHMVDohM7RYjY?si=ec1da3978c044588" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ07 ㅤDesde Que Llegaste</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/571Dh9HlF9cClYVlwZnD3H?si=e5385fe1d546479b" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ08 ㅤMentirosa</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/2LSzHDLH3PSd1OFz40AbLL?si=94d3cb28cf274702" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ09 ㅤSi Me Dices Que Sí</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/5gIlpEQx0q8cvHVKjmcymc?si=a96603925c93432a" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ10 ㅤHoy Se Va</a></li>
    </ul>
  </div>
</div>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/elegantes-del-llano.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>ELEGANTES DEL LLANO</h1>
    <h2>ÁLBUM </h2>
    <ul class="lista">
      <li><a href="https://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=616b14e1193a4729" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ01 ㅤSi Hablara La Luna</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/1x3d3NvS5KJ1nriVyOR7Yy?si=8c45c0c56b194277" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ02 ㅤCanción Del Mariachi</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/0AWNkMSKLdBdvFQZyGjglE?si=781d5b6768394ee5" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ03 ㅤPerfume De Gardenias</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=c29a5958a6f84e9d" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ04 ㅤEl Necio</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=c29a5958a6f84e9d" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ05 ㅤPor Infamias Del Destino</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=c29a5958a6f84e9d"  target="_blank"><i class="bi bi-download"></i> ▶ ㅤ06 ㅤElla Me Dijo Que No</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=c29a5958a6f84e9d"  target="_blank"><i class="bi bi-download"></i> ▶ ㅤ07 ㅤNi Dada La Quiero</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=c29a5958a6f84e9d"  target="_blank"><i class="bi bi-download"></i> ▶ ㅤ08 ㅤSeis Pies Abajo</a></li>
      <li><a href="hhttps://open.spotify.com/intl-es/track/4Y76BhuzPqU1MXrHjxqk45?si=c29a5958a6f84e9d"  target="_blank"><i class="bi bi-download"></i> ▶ ㅤ09 ㅤCaminos De La Vida</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/1zZj5z67MddwVVy5nMIQRm?si=0bde5d25a2b24ef7" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ10 ㅤRosas Negras</a></li>
    </ul>
  </div>
</div>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/tu-falta-de-querer.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>ALANA SOL</h1>
    <h2>ÁLBUM </h2>
    <ul class="lista">
      <li><a href="" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ01 ㅤMi Problema</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/3OdqOsPFdLGzLvyogXyW1l?si=b3e0bb6e46fb4822" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ02 ㅤTu Falta De Querer</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/4NZtAVeHra5938wMAKtWQZ?si=4e78ee001f7a4ccf" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ04 ㅤSin Ti</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/1ZZVKM7BViQ3ozTso7WM06?si=89cc620f42a64bff" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ06 ㅤVolverte A Ver</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/6KrXNNUYD7W29WmVr1Za01?si=ff0e2e44ca6d40af" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ07 ㅤDime</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/7FKQYgigmsUHJn8fgUVXoc?si=086d09a02b674b87" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ08 ㅤTú Y Yo</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/3ec5mGelwNTibMHt4wnSgj?si=34fb4177b2244c28" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ09 ㅤCautiva</a></li>
      <li><a href="https://open.spotify.com/intl-es/track/6KrXNNUYD7W29WmVr1Za01?si=9be94a63ba7943ee" target="_blank"><i class="bi bi-download"></i> ▶ ㅤ10 ㅤLuz De Luna</a></li>
    </ul>
  </div>
</div>
