<h1>¡DISFRUTA DE LO NUEVO DE TUS ARTISTAS FAVORITOS!</h1>

<div class="container">
    <div class="release">
        <img src="../../assets/images/de-cantina-en-cantina.png" alt="la hielera">
        <div class="release-content">
            <h2>DE CANTINA EN CANTINA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/1hxxwHtWJeWoJeihhyinFn?si=6d8e0bbea7674223', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/huele-a-peligro.png" alt="quisiera tenerte">
        <div class="release-content">
            <h2>HUELE A PELIGRO</h2>
            <p>SHAIRA</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/4yA2hyfXDe74Vkk5JxzPJG?si=71398f551dd9479b', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/fantasia.png" alt="tu dama de hierro">
        <div class="release-content">
            <h2>FANTASIA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/2TG7HS0nFhrxcnnT0FbOlf?si=9c18542afd6e426c', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/amigos-con-derechos.png" alt="amigos con derechos">
        <div class="release-content">
            <h2>AMIGOS CON DERECHOS</h2>
            <p>ROMEO BELTRÁN</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/1UyVvANbJ78SAtcTzIYqkw?si=5a23351976c04df0', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/cano-aguilar-news.png" alt="una voz que hara historia">
        <div class="release-content">
            <h2>UNA VOZ QUE HARÁ HISTORIA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/3IwF0oOaowGK8U3fguiVMo?si=a89f8e4040834c42', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/el-bebeto-ft-luis-angel.png" alt="entre el amar y el querer">
        <div class="release-content">
            <h2>ENTRE EL AMAR Y EL QUERER</h2>
            <p>EL BEBETO FEAT. LUIS ANGEL</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/5SvFpAJFgnuVzGX7TeK5CS?si=745e4608a8b7462c')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/cano-aguilar-la-hielera.png" alt="la hielera">
        <div class="release-content">
            <h2>LA HIELERA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/1ANwvwEFtC4MOUwVPDU2U0?si=8db14bec5130448a', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/quisiera-tenerte.png" alt="quisiera tenerte">
        <div class="release-content">
            <h2>QUISIERA TENERTE</h2>
            <p>3BALLMTY</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/6kJ0Drfax08BUgQ167qFK3?si=08a939d31dc84eea', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/tu-dama-de-hierro.png" alt="tu dama de hierro">
        <div class="release-content">
            <h2>TU DAMA DE HIERRO</h2>
            <p>ALANA SOL</p>
            <div class="btn-container">
                <button class="btn" onclick="window.open('https://open.spotify.com/intl-es/track/3ec5mGelwNTibMHt4wnSgj?si=dca9262426304b73', '_blank')">Escuchar ahora</button>
            </div>
        </div>
    </div>

</div>
