<div class="container">
    <div class="seccion izquierda">
        <div class="bienvenido">
            <p>¡BIENVENIDO GUILLERMO SERRANO!</p>
        </div>
        <div class="admin-profile">
            <img src="../../assets/images/admin-perfil.png" alt="Admin Profile">
        </div>
        <div class="ver-perfil">
            <a>VER PERFIL</a>
        </div>
        <button routerLinkActive="active" routerLink="/crud-admins" class="link">ADMINISTRADORES</button>
        <button routerLinkActive="active" routerLink="/crud-artists" class="link">ARTISTAS</button>
        <button routerLinkActive="active" routerLink="/crud-albums" class="link">ÁLBUMES</button>
        <button routerLinkActive="active" routerLink="/crud-releases" class="link">LANZAMIENTOS</button>
        <button routerLinkActive="active" routerLink="/crud-news" class="link">NOTICIAS</button>
        <button routerLinkActive="active" routerLink="/crud-store" class="link">TIENDA</button>
        <button routerLinkActive="active" routerLink="/crud-tickets" class="link">BOLETOS</button>
    </div>
    <div class="seccion derecha">
        <img src="../../assets/images/latin-power-music-panel-control.png" alt="Latin Power Music Panel Control">
    </div>
</div>
